<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5770137369248513"
        crossorigin="anonymous"></script>

<a href="https://hits.seeyoufarm.com"><img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fjsw6701.github.io%2Fhit-counter&count_bg=%23C0004E&title_bg=%23B60ACD&icon=superuser.svg&icon_color=%23E7E7E7&title=Visitors&edge_flat=true"/></a>